---
import { getCollection } from 'astro:content'
import GridLayout from '@/layouts/GridLayout.astro'
import Card from '@/components/shared/Card.astro'

import categories from '@/data/categories'

export function getStaticPaths() {
	return categories.map((item) => ({
		params: { category: item.type },
		props: { category: item.type },
	}))
}

const { category } = Astro.props
const designs = await getCollection(
	'ui',
	({ data }) => data.category === category
)
---

<GridLayout>
	<div
		class='grid grid-cols-1 gap-8 py-12 md:grid-cols-2 lg:grid-cols-3'
	>
		{
			designs.map((design) => (
				<>
					<Card
						image={{
							alt: `${design.data.product} thumbnail`,
							aspectRatio: 1.7777,
							src: design.data.image,
							width: 480,
						}}
						link={`/${design.slug}`}
						title={design.data.product}
					/>
				</>
			))
		}
	</div>
</GridLayout>
