<main class='relative overflow-hidden flex flex-grow h-auto bg-text/5'>
	<div
		class='relative mx-auto px-8 max-w-[96rem] py-12 lg:py-24 lg:px-20 md:px-12'
	>
		<div
			class='grid grid-cols-1 gap-6 py-12 lg:gap-y-32 md:grid-cols-2 lg:grid-cols-3'
		>
			<figure>
				<a href='#'>
					<img
						class='w-full rounded-3xl shadow-2xl'
						src='https://cdn.dribbble.com/users/1622978/screenshots/16873134/media/7f5d72bce5b94fe1ae56484394de673f.jpg?compress=1&resize=1600x1200&vertical=top'
						alt=''
						width='1310'
						height='873'
					/>
					<div class='mt-4 flex justify-between px-6'>
						<p
							class='mt-1 text-lg font-medium leading-6 text-text'
						>
							Beige
						</p>
					</div>
				</a>
			</figure>
			<figure>
				<a href='#'>
					<img
						class='w-full rounded-3xl shadow-2xl'
						src='https://cdn.dribbble.com/users/1622978/screenshots/16873134/media/7f5d72bce5b94fe1ae56484394de673f.jpg?compress=1&resize=1600x1200&vertical=top'
						alt=''
						width='1310'
						height='873'
					/>
					<div class='mt-4 flex justify-between px-6'>
						<p
							class='mt-1 text-lg font-medium leading-6 text-text'
						>
							Beige
						</p>
					</div>
				</a>
			</figure>
			<figure>
				<a href='#'>
					<img
						class='w-full rounded-3xl shadow-2xl'
						src='https://cdn.dribbble.com/users/1622978/screenshots/16873134/media/7f5d72bce5b94fe1ae56484394de673f.jpg?compress=1&resize=1600x1200&vertical=top'
						alt=''
						width='1310'
						height='873'
					/>
					<div class='mt-4 flex justify-between px-6'>
						<p
							class='mt-1 text-lg font-medium leading-6 text-text'
						>
							Beige
						</p>
					</div>
				</a>
			</figure>
			<figure>
				<a href='#'>
					<img
						class='w-full rounded-3xl shadow-2xl'
						src='https://cdn.dribbble.com/users/1622978/screenshots/16873134/media/7f5d72bce5b94fe1ae56484394de673f.jpg?compress=1&resize=1600x1200&vertical=top'
						alt=''
						width='1310'
						height='873'
					/>
					<div class='mt-4 flex justify-between px-6'>
						<p
							class='mt-1 text-lg font-medium leading-6 text-text'
						>
							Beige
						</p>
					</div>
				</a>
			</figure>
			<figure>
				<a href='#'>
					<img
						class='w-full rounded-3xl shadow-2xl'
						src='https://cdn.dribbble.com/users/1622978/screenshots/16873134/media/7f5d72bce5b94fe1ae56484394de673f.jpg?compress=1&resize=1600x1200&vertical=top'
						alt=''
						width='1310'
						height='873'
					/>
					<div class='mt-4 flex justify-between px-6'>
						<p
							class='mt-1 text-lg font-medium leading-6 text-text'
						>
							Beige
						</p>
					</div>
				</a>
			</figure>
			<figure>
				<a href='#'>
					<img
						class='w-full rounded-3xl shadow-2xl'
						src='https://cdn.dribbble.com/users/1622978/screenshots/16873134/media/7f5d72bce5b94fe1ae56484394de673f.jpg?compress=1&resize=1600x1200&vertical=top'
						alt=''
						width='1310'
						height='873'
					/>
					<div class='mt-4 flex justify-between px-6'>
						<p
							class='mt-1 text-lg font-medium leading-6 text-text'
						>
							Beige
						</p>
					</div>
				</a>
			</figure>
		</div>
	</div>
</main>
