@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* toxic/neon yellow monochromatic */
		/* --text: 254 254 230; */
		/* --background: 4 4 1; */
		/* --primary: 254 254 6; */
		/* --secondary: 16 16 10; */
		/* --accent: 228 228 7; */

		/* neon green monochromatic */
		--text: 249 254 230;
		--background: 4 4 1;
		--primary: 204 245 56;
		--secondary: 20 25 1;
		--accent: 177 224 6;
	}
}

.hero-layer-1 {
	/* opacity: 0.1; */
	/* background-image: linear-gradient(#ccf538 1px, transparent 1px), */
	/* 	linear-gradient(to right, #ccf538 1px, #040401 1px); */
	/* background-size: 30px 30px; */

	opacity: 0.1;
	background: repeating-linear-gradient(
		25deg,
		#ccf538,
		#ccf538 1px,
		#040401 0,
		#040401 25px
	);
}

.hero-layer-2 {
	opacity: 0.1;
	background: repeating-linear-gradient(
		-25deg,
		#ccf538,
		#ccf538 1px,
		#040401 0,
		#040401 25px
	);
}
