---
import { Image } from '@astrojs/image/components'

type Props = {
	alt: string
	aspectRatio: number
	src: string
	width: number
}

const { alt, aspectRatio, src, width } = Astro.props
---

<figure class='flex flex-col'>
	<div
		class='relative w-full h-auto flex object-cover shadow-[5px_5px_0_0_rgba(250,238,231,0.9)] border-2 border-white transition-all duration-200 hover:shadow-none'
	>
		<Image alt={alt} aspectRatio={aspectRatio} src={src} width={width} />
	</div>
</figure>
