<main
	aria-labelledby='header'
	class='relative overflow-hidden flex flex-shrink-0 border-y border-text/5'
>
	<div class='w-full mx-auto md:px-12 px-8 max-w-7xl lg:px-16 py-24'>
		<div
			x-data='{ open: false }'
			class='relative flex flex-col w-full py-5 mx-auto md:items-center md:justify-between md:flex-row'
		>
			<div class='flex flex-col gap-16'>
				<div class='text-left'>
					<div
						class='flex flex-col items-start justify-center text-left gap-4'
					>
						<h1
							class='text-negroni-500 mt-4 font-bold sm:text-5xl text-3xl tracking-tight font-serif'
						>
							SaaS UI Inspiration
						</h1>
						<p class='prose prose-invert prose-xl'>
							No UI and UX design skills? No problem. Take
							inspiration from hundreds of SaaS application UIs
							from real companies. A curated collection of web app
							designs for inspiration and reference.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
