<main
	aria-labelledby='header'
	class='relative overflow-hidden flex flex-shrink-0 border-y border-text/5'
>
	<div class='w-full mx-auto md:px-12 px-8 max-w-7xl lg:px-16 py-24'>
		<div
			x-data='{ open: false }'
			class='relative flex flex-col w-full py-5 mx-auto md:items-center md:justify-between md:flex-row md:px-6'
		>
			<div class='flex flex-col gap-16'>
				<div class='text-left'>
					<div
						class='flex flex-col items-start justify-center text-left gap-4'
					>
						<h1
							class='text-negroni-500 mt-4 font-bold sm:text-5xl text-3xl tracking-tight font-serif'
						>
							SaaS UI Inspiration
						</h1>
						<p class='prose prose-invert prose-xl'>
							No UI and UX design skills? No problem. Take
							inspiration from hundreds of SaaS application
							UIs from real companies. A curated collection of web
							app designs for inspiration and reference.
						</p>
					</div>
					<!-- <div -->
					<!-- 	class='flex justify-center flex-col gap-3 mt-10 sm:flex-row' -->
					<!-- > -->
					<!-- 	<a -->
					<!-- 		class='items-center justify-center rounded-full border-negroni-500 duration-200 focus:outline-none inline-flex px-6 py-3 text-center w-full text-negroni-500 font-medium lg:w-auto border focus-visible:outline-negroni-500 text-negroni-500/80' -->
					<!-- 		href='https://github.com/michael-andreuzza/quickstore' -->
					<!-- 		>GitHub</a -->
					<!-- 	> -->
					<!-- 	<a -->
					<!-- 		class='items-center justify-center rounded-full duration-200 focus:outline-none inline-flex px-6 py-3 text-center w-full border-2 hover:bg-transparent border-negroni-500 bg-negroni-500 focus-visible:outline-negroni-500 focus-visible:ring-negroni-500 font-medium hover:border-negroni-500 hover:text-negroni-500 lg:w-auto text-charcoal-500' -->
					<!-- 		href='https://lexingtonthemes.com' -->
					<!-- 		>Lexington Themes &nbsp; →</a -->
					<!-- 	> -->
					<!-- </div> -->
				</div>
			</div>
		</div>
	</div>
</main>
