---
import BaseHead from '@/components/BaseHead.astro'
import Navbar from '@/components/global/Navbar.astro'
import Footer from '@/components/global/Footer.astro'

import '@/styles/global.css'
---

<html lang='en'>
	<head>
		<BaseHead />
	</head>

	<body class='w-screen h-auto min-h-screen overflow-y-auto overflow-x-hidden bg-background'>
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>
