---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Hero from '@/components/Hero.astro'
import { AstroSeo } from '@astrolib/seo'
---

<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
	title='uxinspo'
	description='Curated collection of UI designs from real SaaS products'
	canonical='https://uxinspo.site'
	openGraph={{
		url: 'https://uxinspo.site',
		title: 'uxinspo',
		description: 'Curated collection of UI designs from real SaaS products',
		images: [
			{
				url: '/og.png',
				width: 1200,
				height: 630,
				alt: 'Social open graph',
				type: 'image/png',
			},
		],
		site_name: 'uxinspo',
	}}
	twitter={{
		handle: '@uxinspo_',
		site: '@site',
		cardType: 'summary_large_image',
	}}
/>
<BaseLayout>
	<Hero />
	<main class='relative overflow-hidden flex flex-grow h-auto bg-text/[1%]'>
		<div
			class='w-full flex flex-col items-start justify-start gap-8 mx-auto md:px-12 px-8 max-w-[96rem] py-12 lg:px-16'
		>
			<slot />
		</div>
	</main>
</BaseLayout>

<script>
	import lightgallery from 'lightgallery'
	import lgThumbnail from 'lightgallery/plugins/thumbnail'
	import lgVideo from 'lightgallery/plugins/video'
	import lgZoom from 'lightgallery/plugins/zoom'

	const galleryContainer = document.getElementById('lg')

	// @ts-ignore
	lightgallery(galleryContainer, {
		counter: false,
		download: false,
		plugins: [lgThumbnail, lgVideo, lgZoom],
		thumbnail: true,
	})
</script>
